app
  h1 testだよ
  //test(content='{contents.test}')
  br
  a(href="#page-test") testlink
  br
  a(href="#members/kooh") menbers link
  content

  script.

    var self = this;

    this.contents = {
      test: {
        title: 'title',
        body: 'body',
        label: 'link label',
      },
    };