page-top
  div.wrap-page
    module-hiro
    module-about
    module-functions
    util-footer

  style(scoped, type='less').
    :scope {
      .wrap-page {
        display: block;
        width: 100%;
      }
    }

  script.

    var self = this;

    this.on('mount', function(){
      
    });
    