util-footer
  div.wrap-util.py40
    p.copy © 2011-2019 AppSocially Inc.

  style(scoped, type='less').
    :scope {
      .copy {
        text-align: center;
        font-size: 14px;
        font-weight: lighter;
      }
    }